.mRain {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-color: black;
  color: #5e5;
  display: flex;
  overflow: hidden;
}

.mRain p {
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-align: right;
  width: 1%;
  max-height: 100vh;
  font-size: 18px;
  position: relative;
   top: -200vh;   
}

@keyframes fall {
  0% {
      top: -200vh;
      opacity: 1;
  }
  100% {
      top: calc(130vh);
      opacity: 0.2;
  }
}

.linear {
  background: linear-gradient(rgba(0, 120, 0, 0) ,rgb(0,250,0) 62%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
